<html lang="en">
<head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Add a new Mongoose</h2>
                    <% if(typeof(errors) != 'undefined' ) { %>
                        <% for (var x in errors) { %>
                         <h3><%= errors[x].message %></h3>
                        <% } %>
                    <% } %>
                    <form class="form" method="post" action="/mongooses">
                        <div class="form-group">
                            <input type="text" name="Name" placeholder="Name" class="form-control">
                        </div>
                        <button class="btn btn-default" type="submit">Submit</button>
                        <a href="/" class="btn btn-default">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>