@model WeddingPlanner.Models.Wedding
 
 <div class="container">
        <div class="row">
            <div class="col-sm-6">
                
                <h2>Plan Your Wedding</h2>
                <div>
                    <p> <a href="/Logout">Logout</a>
                     &nbsp &nbsp<a href="/success" >Dashboard</a>
                    </p> 
                </div>

                <form asp-controller="Home" asp-action="CreateWedding" method="post">
                    <div class="form-group">
                        <span asp-validation-for="WedderOne"></span>
                        <input  class="form-control" asp-for="WedderOne" placeholder="Wedder One"/>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="WedderTwo"></span>
                        <input class="form-control" asp-for="WedderTwo" placeholder="Wedder Two"/>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="WeddingAddress"></span>
                        <input class="form-control" asp-for="WeddingAddress" placeholder="Wedding Address"/>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Date"></span>
                        <input  type="date" class="form-control" asp-for="Date" placeholder="Date"/>
                    </div>
                    
                    <button type="submit" class="btn btn-default">Create</button><br><br>
                </form>
                <a href="/register" >Logout</a>
            </div>
    </div>