<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='my_style_sheet.css') }}">
    
</head>
<body>
    
    <form action="/results" method = 'post' class= 'form'>
        <p>Your Name:
        <input type="text"  name ='your_name'>
    </p>
        <p >Dojo Location:
            <select class ='dojo_location' name ='dojo_place'>
                <option>Los Angeles</option>
                <option>Chicago</option>
                <option>San Jose</option>
                                    
            </select>
        </p>
        <p class='favorite_language' >Favorite Language:
            <select name = 'typelanguage' >
                <option>Python</option>
                <option>Java</option>
                <option>c++</option>
                <option>c#</option>
            </select>
        </p>
        <p class = 'comments'>Comments: </p>
        <textarea name="write" id="" cols="30" rows="10"></textarea>     
        <button class='survey_btn' name = 'button'>Button</button>
    </form>
    
</body>
</html>