
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}
{% endif %}
{% endwith %}
<h3>Login</h3>
<form action="/process" method ='POST'>
    Email:<input type="text" name = "email">
    Password: <input type="password" name = "password">
    <input type="submit" value = "Login">
</form>
<h3>Registration Form:</h3>
<form action='/register' method='POST'>
    First Name:<input type="text" name="first_name">
    Last Name:<input type="text" name="last_name" >
    Email:<input type="text" name="email">
    Password:<input type="password" name="password" >
    Confirm Password:<input type="password" name="confirm_password">
    <input type="submit" >
  </form>