<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
   
    <div>
        <h2>Welcome to Quoting Dojo</h2>
        <form action="/users" method="post">
            <div>
                <label for="text">name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="text">quote</label>
                <input type="text" name="age">
            </div>
            <div>
                <label for="text">email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="text">password</label>
                <input type="password" name="password">
            </div>
            <input type="submit" name="submit">
        </form>
    </div>
</body>
</html>


