<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>time display</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
   <div class="container">
    <div class='row'>
        <div class='col-sm-5 forms'>  
            <div>
                <h3>Random passcode: (passcode #@TempData["attempt"]) </h3>
            </div>
            <div>
                <h3>@TempData["passcode"]</h3>
            </div>
            <div>
                <a href=""><button>Generate</button></a>
            </div
        </div>
    </div>
</div>
</body>
</html>
  
    
 