<!DOCTYPE html>
<html>

<body>
    <h1>Counter</h1>
    <p><%= session.counter %> times</p>
    <a href="/"><button>submit</button></a>
    <form action="/reset" method = 'post'>
         <!-- href="/reset"><button>reset</button></a> -->
         <input type="submit" name="reset" value = 'reset'>
    </form>
</body>
</html>