<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='my_style_sheet.css') }}">
</head>
<body>
    <form action=" ", method = 'post' class='form'></form>
    New:<input type="text" name = 'new'>
        <label for="new"></label>
   Name:<input type="text" name ='name'>
        <label for="name"></label> 
  email:<input type= 'text' name = 'text'>
        <label for="email"></label>
        <button>Submit</button>
</body>
</html>