<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body>
    <div class='container'>
            <div class='row'>
                    <div class='col-sm-5 forms'>
                        <form action="">Basic Form</form>
                        <div class='form-group'> Car Make <input type="text"></div>
                        <div class='form-group'> Car Model <input type="text"> </div>
                        <div class='form-group'> Year <input type="text"> </div>
                        <div class='form-group'> Color <input type="text"> </div>    
                        <button type="submit">Submit </button>
                        </form> 
                    </div>
                
            </div>

    
</body>
</html>